body {
    padding: 0;
    background-color: wheat;
}

h1 {
    font-family: 'Rammetto One', cursive;
}

p {
    font-family: 'Ropa Sans', sans-serif;
}

/* topbar */

.top-bar {
    padding-top: 15px;
}

/* navbar section */

.navbar {
    margin: 0;
    text-align: center;
    background-color: black !important;
}

.navbar ul {
    margin: 0 auto;
    list-style: none;
    text-align: left;
}

.navbar li {
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    color: wheat !important;
}

.nav-link {
    display: inline;
    margin: 0 auto;
}

.navbar-brand .logo {
    font-family: 'Berkshire Swash', cursive;
}

.navbar-brand i,
.navbar-brand .logo {
    font-size: 3rem;
    padding: 10px;
    margin: 0 auto;
}

.main-navbar li.active {
    background-color: #EEF36A;
}

/* carousel */

.carousel img {
    max-height: 500px;
}

/* about-index */

.about-index {
    background: whitesmoke;
    padding-top: 10px;
}

/* book a table */

.option-book #option {
    margin-top: 200px;
    float: left;
}

.option-book #option h2 {
    color: white;
    background-color: black;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    line-height: 2;
    text-align: center;
    transition: all 0.1s linear;
}

.option-book #option h2:hover {
    width: 250px;
    background-color: green;
}

/* content-index */

.content-index img {
    padding: 10px 10px;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-index p {
    text-align: center;
    margin-top: 150px;
    padding-left: 20px;
    margin-right: 10px;
    padding-right: 20px;
}

.content-index h1 {
    margin-bottom: 50px;
}

.about-page p {
    margin: 0 auto;
    text-align: justify;
}

.about-page h1 {
    margin-top: 20px;
    text-align: center;
}

/* owl carousel */

.owl-carousel p {
    text-align: justify;
}

.owl-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    font-size: 30px !important;
}

/* starter-menupage */

.starter-menu img {
    max-height: 400px;
    padding: 20px 20px;
    width: 100%;
}

.starter-menu h1 {
    margin-top: 20px;
}

.starter-menu li {
    list-style: none;
    padding: 10px 10px;
    margin-top: 30px;
    display: flex;
}

.starter-menu table,
tr,
td {
    padding: 10px 10px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: justify;
    background: black;
    color: wheat;
    width: 50%;
    font-family: 'Ropa Sans', sans-serif;
}

/* catering page */

.cater-service img {
    width: 100%;
    padding: 20px 20px;
    margin: 0 auto;
    max-height: 600px;
}

.cater-service p {
    padding: 20px20px;
    margin-top: 20px;
    text-align: center;
}

/* locateuspage */

.locate-us {
    margin-top: 40px;
    padding: 20px 20px;
}

.locate-us h1 {
    margin-bottom: 30px;
    text-align: center;
}

.locate-us p,
    {
    text-align: center;
}

.locate-us button {
    align-content: center;
    background: black;
}

.locate-us a {
    text-decoration: none;
    color: wheat;
}

/* contact page */

form .form-group {
    width: 50%;
}

form {
    background: black;
    color: wheat;
    padding: 20px 20px;
    margin: 200px;
}

form .btn-dark {
    background-color: black;
    color: wheat;
}

.btn-dark :hover {
    color: black;
    background-color: black;
}

iframe {
    width: 100%;
    max-height: 400px;
}

/* menu-content */

.menu-content .menu-item {
    display: flex;
    padding: 30px 30px;
    justify-content: space-around;
}

.menu-content p {
    font-family: 'Rammetto One', sans-serif;
}